* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: black;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  background-color: rgb(237, 237, 237);
}

.budget {
  padding-top: 50px;
  width: 100%;
  height: 20vh;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  background-color: white;
  display: flex;
  text-align: center;
  justify-content: center;
}

#moneychanged {
  box-sizing: border-box;
  color: black;
  margin-top: -10px;
  visibility: hidden;
  /* width is a set value so it doesnt change the layout of everything */
  width: 25px;
}

/* Everything outside of the header below:  */

#inputwrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  border-top: 2px solid black;
  height: 200px;
  background-color: white;
  box-sizing: border-box;
}

.wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
}
.inputfield {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70% 30%;
  justify-content: center;
}

.button {
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: white;
  font-size: 16px;
  margin: 2px;
  padding: 10px;
  height: 20%;
  border-radius: 2px;
  text-decoration: none;
}

.button:hover {
  background-color: rgb(237, 237, 237);
}

.button:active {
  background-color: rgb(192, 192, 192);
}

#toggler {
  position: fixed;
  height: 15px;
  bottom: 200px;
  left: 45%;
  right: 45%;
  border: 1px solid black;
  border-bottom: 0;
  background-color: rgb(230, 230, 230);
  font-size: 24px;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#toggler p {
  transform: rotate(180deg);
  /* ensures it it properly centered on rotation */
  transform-origin: center 30%;
}

#history {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  text-align: left;
  list-style: none;
  font-size: 24px;
  z-index: 1;
  overflow-y: scroll;
  height: 80vh;
  -webkit-overflow-scrolling: touch;
}
#listelement {
  margin: 5px;
  padding: 20px;
  padding-bottom: 25px;
  font-size: 18px;
  /* border-bottom: 2px solid lightgray; */
  background-color: white;
}

#settingsbutton {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 36px;
  font-weight: bolder;
  padding: 15px;
}

#settingsbutton:hover {
  text-decoration: underline;
}

#settingspopup {
  position: absolute;
  box-sizing: border-box;
  width: 90vw;
  height: 50vh;
  margin: 5%;
  background-color: white;
  border: 1px solid black;
  z-index: 3;
  display: none;
}

#popupbg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  display: none;
  z-index: 2;
  background-color: gray;
}
